/* Log In */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin-top: 20;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Profile */
.emp-profile{
  padding: 3%;
  margin-top: 5%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.profile-head h3{
  color: rgb(58, 58, 58);
}
.profile-tab label{
  font-weight: 600;
  color: rgb(58, 58, 58);
}
.profile-tab p{
  font-weight: 600;
  color: rgb(58, 58, 58);
}

/* Durasi Animasi FadeIn */
.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}
